<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/reb0ot1/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="reb0ot1" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>